{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" href="{% static 'css/password_changing.css' %}">

</head>
<body>
    <div >
        <h2>Смена пароля</h2>
    </div>
    <div id = "script">

    </div>


    <div id = "new_password_Div">


    </div>
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src=" {% static 'js/change_password.js' %} "></script>
</body>
</html>