{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать тест</title>
    <link rel="stylesheet" href="{% static 'css/creation.css' %}">
</head>
<body>
    <div class="test_div">
        <div class="settings">
            <h1>Создать тест</h1>
             <label>Название: </label><input>

            <br>
            <input type="checkbox" checked ><label>Публичный тест</label>
        </div>
        <div class="questions"></div> <!--контейнер с вопросами-->
        <button class = 'add_question'>Добавить вопрос</button>
        <br>
        <button class = 'create_test'>Создать тест</button>
    </div>
    <script type="module" src=" {% static 'js/creation.js' %} "></script>
</body>
</html>

