{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <title>Опросник</title>
</head>
<body>
<h1>Главная страница</h1>
<div class = 'navbar'>
    <button><a href = '/tests'>Тесты</a></button>
    <button><a href = '/create-test'>Создать тест</a></button>
    <button><a href = '/user-profile'>Профиль</a></button>
    <button><a>Выйти</a></button>
</div>
<h1></h1>
</body>
</html>