{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/tests_list.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'tests/navbar.html' %}
    <div class="container px-4" id="tests_list">

    </div>
    <nav aria-label="Page navigation example" style="padding-top: 20px;">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#" id="previous">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#" id="first_page">1</a></li>
            <li class="page-item"><a class="page-link" href="#" id="second_page">2</a></li>
            <li class="page-item"><a class="page-link" href="#" id="third_page">3</a></li>
            <li class="page-item"><a class="page-link" href="#" id="next">Next</a></li>
        </ul>
    </nav>
    {% csrf_token %}
    <a hidden id="num">{{ page }}</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="module" src=" {% static 'js/tests_list.js' %} "></script>
</body>
</html>